<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @professional.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @professional.lastname %>
</p>

<p>
  <strong>Adress 1:</strong>
  <%= @professional.adress_1 %>
</p>

<p>
  <strong>Adress 2:</strong>
  <%= @professional.adress_2 %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @professional.zipcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @professional.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @professional.country %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @professional.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @professional.longitude %>
</p>

<%= link_to 'Edit', edit_professional_path(@professional) %> |
<%= link_to 'Back', professionals_path %>
